/* Source: https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-question-circle */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

/* Source: https://www.w3schools.com/howto/howto_css_tooltip.asp */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Source: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_sticky */
/* Navigation Bar Padding */
.nav-bar {
    padding: 0;
    text-align: center;
}

/* Tables */
table {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: auto;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ced4dA;
    font-size: 115%;
}

tr:nth-child(odd) {
    background-color: #e9ecef;
}

/* Forms */
fieldset {
    display: inline-block;
}

input:read-only, input:disabled, select:disabled textarea:disabled {
    background: #c0c0c0;
    opacity: 0.85;
}

/* Source: https://stackoverflow.com/questions/4861224/how-to-use-css-to-surround-a-number-with-a-circle */
/* Tag */
.tag {
    border-radius: 50%;

    width: auto;
    height: auto;
    display: inline-block;
    padding: 4px;

    background: #eee;
    border: 1px solid #666;

    /* font: 16px Arial, sans-serif; */
    font-size: small;
    color: #666;
    text-align: center;
}

/* Source: https://w3bits.com/rainbow-text/ */
/* Rainbow */
.rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-image .25s ease-in-out;
}

@keyframes rainbow {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 25%
    }
    100% {
        background-position: 0 50%
    }
}

/* Dropdown Button */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: darkgray;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: red;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

.dropdown-content a:active {
    background-color: gray;
}

/* Select Invalid */
select:invalid {
    color: gray;
}

/* Printing */
@media print {
    .noprint {
        display: none
    }
}

/* Source: https://www.granneman.com/webdev/coding/css/centertables */
/* Center Table */
table.center {
    margin-left: auto;
    margin-right: auto;
}

/* 000webhost Watermark (Remove) */
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}
